html { 
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.index-page{
    background-color: black;
}

.link{
    text-align: center;
}

a{
    color: rgb(75, 216, 47);
    text-decoration: none;
    background: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-pages{
    background-color: rgb(27, 27, 27);
}

.header{
    text-align: center;
    color: rgb(75, 216, 47);
    font-size: 40;
}

.button{
    height: 400px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    color: black;
}

#BtnReaction:active{
    height: 440px;
    width: 880px;
}

#btnCPS:active{
    background-color: rgb(215, 235, 215);
}

#btnCPS:hover{
    height: 440px;
    width: 880px;
}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Btn2{
    background-color: white;
    border-radius: 8px;
    color: black;
}

#Btn2:active{
    background-color: rgb(215, 235, 215);
}

.button-box2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    text-align: center;
    color: white;
}

#pop{
    text-align: center;
    color: white;
    font-size: 60;
}

.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#numInput{
    width: 200px;
    font-size: 16px;
}

#submitBtn{
    background-color: white;
    color: black;
}

.submitBtn:active{
    background-color: rgb(215, 235, 215);
}

.home-button{
    text-align: center;
    color: white;
    margin-top: 20px;
}
