html { 
    touch-action: manipulation;
    -webkit-touch-callout: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
  -webkit-appearance: none;
  appearance: none;
}

a{
    color: rgb(75, 216, 47);
    text-decoration: none;

    background: fixed;
    background-color: rgb(255, 255, 255);

    border-radius: 5px;
}

.header{
    text-align: center;
    color: rgb(75, 216, 47);
    font-size: 40;
}

.link{
    text-align: center;
}

.secondary-pages{
    background-color: rgb(27, 27, 27);
}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    height: 400px;
    width: 800px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    background-color: white;

    border-radius: 8px;

    color: black;
}

.home-button{
    text-align: center;
    color: white;

    margin-top: 20px;
}

.info{
    text-align: center;
    color: white;
}
